.loginContent {
  width: 100%;

  .inputWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

    .inputItem {
      display: flex;
      margin: 6px;

      .inputName {
        width: 40px;
      }

      input {
        border-radius: 5px;
        height: 24px;
      }
    }
  }

  .btnBar {
    display: flex;
    justify-content: space-around;

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      width: 100px;
      height: 40px;
      background-color: #ddd;
      font-size: 18px;
    }
  }
}
